.buttons {
  display: flex;
  justify-content: center;

  button {
    height: 40px;
    width: 102px;
    border-radius: 20px;
    background-color: transparent;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.02px;
    line-height: 20px;
    margin-left: 15px;
    border: none;
  }

  .featuredBtn {
    background-color: rgba(187, 30, 30, 0.1);
    color: #bb1e1e;
    &:hover {
      .latest__news {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 760px) {
  .buttons {
    display: none;
  }
}
