@import "./variables";

@mixin latest($w, $h, $c, $fSize, $fWeight, $lSpacing, $p) {
  width: $w;
  height: $h;
  color: $c;
  font-family: $mainFont;
  font-size: $fSize;
  font-weight: $fWeight;
  letter-spacing: $lSpacing;
  line-height: 20px;
  padding: $p;
}

.latest__news {
  grid-area: c;
  grid-row: 1/3;
  overflow-y: scroll;
  height: 529px;
  width: 321px;
  border-radius: 8px;
  background-color: $white;
  box-shadow: 0 1px 2px -1px #c8cad1;
  margin-left: 10px;
  margin-top: 7px;
  position: relative;

  .latest__icon {
    padding: 18px 15px 0 15px;
    font-size: 16px;
    position: sticky;
    top: 0;
    background-color: $white;
  }

  .see__all {
    @include latest(100%, 51px, #1e71bb, 14px, 500, -0.1px, 15px);
    position: sticky;
    bottom: 0;
    background-color: $white;

    &:hover {
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar {
    height: 68px;
    width: 4px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.24);
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.latest {
  @include latest(300px, 120px, #000000, 16px, 600, -0.11px, 10px);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(230, 230, 230);

  .time {
    margin: 0;
  }

  span {
    @include latest(134px, 16px, #1e71bb, 10px, bold, -0.02px, 0);
    line-height: 16px;
  }
}

@media only screen and (max-width: 760px) {
  .display {
    display: none;
  }

  .latest__news {
    width: 331px;
  }
}
