@mixin menu {
  height: 4px;
  width: 24px;
  border-radius: 1px;
  background-color: #1d1d1b;
  margin: 3px;
}

.menu {
  .menu1 {
    @include menu;
  }

  .menu2 {
    @include menu;
  }
  .menu3 {
    @include menu;
  }
}

@media only screen and (min-width: 760px) {
  .menu {
    display: none;
  }
}
