@import "./variables";

@mixin icon {
  width: 63px;
  height: 63px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin name($c) {
  width: 55px;
  height: 14px;
  color: $c;
  font-family: $mainFont;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 14px;
  text-align: center;
  padding-top: 3px;
}

.nav {
  display: flex;
  border-top: 1px solid rgb(230, 230, 230);
  padding-top: 20px;
}

.navigation {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 10px;

  .icon1 {
    @include icon;
    background-color: $white;
    box-shadow: 0 1px 2px -1px #c8cad1;

    &:hover {
      cursor: pointer;
    }

    span {
      @include name($redColor);
    }
  }

  .icon {
    @include icon;

    &:hover {
      cursor: pointer;
    }

    span {
      @include name(#1d1d1b);
      opacity: 0.5;
    }
  }
  img {
    height: 20px;
    width: 20px;
  }
}

@media only screen and(max-width: 1110px) {
  .nav {
    justify-content: center;
  }
}

@media only screen and (max-width: 760px) {
  .nav {
    border-top: none;
    justify-content: center;
    .navigation {
      display: none;
    }
  }
  .mobile__nav {
    display: grid;

    .navigation {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .icon1 {
        height: 95px;
        width: 95px;
      }
      .icon {
        height: 95px;
        width: 95px;
      }
    }
  }
}
